
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 100px; 
    z-index: 0;
  }
  
  .signup-form {
    background: white;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 420px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus, select:focus {
    outline: none;
    border-color: rgb(26, 150, 106);
  }
  
  .signup-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(26, 150, 106);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: rgb(16, 124, 86);
  }
  .login-text {
    margin-top: 15px;
    color: #555;
    font-size: 14px;
  }
  
  .login-text a {
    color: rgb(7, 36, 143);
    text-decoration: none;
  }
  
  .login-text a:hover {
    text-decoration: underline;
  }
    